body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#product {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.product img {
    max-width: 100px;
    max-height: 100px;
}


#message {
    padding: 10px;
    margin: 10px 0;
    display: none;
}

.success {
    background-color: #d4edda;
    color: #535715;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
}